[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "4.10.0"
python-telegram-bot = "20.1"
openai = "==0.26.5"

[dev-packages]

[requires]
python_version = "3"